.charts {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.chart:nth-child(1) {
  color: #ACEC00;
}
.chart:nth-child(2) {
  color: #00BBD6;
}
.table {
  background-color: #00BBD6,
 
}
table{
  width: 100% 
}