<div class =" mdl-grid">
  <!--<div class="charts  mdl-shadow--8dp mdl-cell mdl-cell--12-col mdl-grid">
            <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
              <use xlink:href="#piechart" mask="url(#piemask)" />
              <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan font-size="0.2" dy="-0.07">%</tspan></text>
            </svg>
            <svg fill="currentColor" width="200px" height="200px" viewBox="0 0 1 1" class="chart mdl-cell mdl-cell--4-col mdl-cell--3-col-desktop">
              <use xlink:href="#piechart" mask="url(#piemask)" />
              <text x="0.5" y="0.5" font-family="Roboto" font-size="0.3" fill="#888" text-anchor="middle" dy="0.1">82<tspan font-size="0.2" dy="-0.07">%</tspan></text>
            </svg>
  </div>-->



  <div class = "table mdl-shadow--8dp mdl-cell mdl-cell--12-col mdl -grid">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">#</th>
        <th>Estado</th>
        <th>Lista</th>
        <th>Costo</th>
        <td>Acciones</td>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let item of orders; let i = index; " >
        <td class="mdl-data-table__cell--non-numeric" >{{i}}</td>
        <td>{{item.state}}</td>

        <td>
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" *ngIf="item.orderProducts.length>0">
                  <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric">#</th>
                          <th>producto</th>
                          <th>cantidad</th>
                          <th>precio</th>
                        </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let order of item.orderProducts; let j = index ;">
                     <td> {{j}} </td>
                      <td>{{ofpbpi[item.offeredProducts[j].id]}}</td>
                      <td>{{order.quantity}}</td>
                      <td>{{order.price}}</td>
                    </tr>
                  </tbody>
                </table>

        </td>

        <td>{{item.totalPrice}}</td>
        <td><button *ngIf="item.state=='delivered'" type="" routerLink="makeComment" (click)="send(item)">comentar</button></td>
      </tr>

    </tbody>
  </table>

  </div>
  

</div>

