#profile{
  padding-top: 10vh;
  overflow-x: hidden;
}

#map{
  margin:auto;
  width: 100%;
}

#profile-banner{
  max-height: 45vh;
  #background-image{
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
  #profile-img{
    width: 120px;
    height: 120px;
    object-fit: fill;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    z-index: 150;
    left: 2%;
  }
  .card-block{
    left: 5%;
  }
}

.row{
  margin-bottom: 0;
}