<swiper [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide" id="slide-1">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <h1>Bienvenido</h1>
          <h3>Lorem ipsum amet</h3>
        </div>
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-tablet mdl-cell--2-phone mdl-cell--3-offset mdl-cell--1-offset">
          <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            Inicia Sesión
          </button>
          <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple>
            Regístrate
          </button>
        </div>
      </div>
    </div>
    <div class="swiper-slide" id="slide-2">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <h1>Bienvenido</h1>
          <h3>Lorem ipsum amet</h3>
        </div>
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-tablet mdl-cell--2-phone mdl-cell--3-offset mdl-cell--1-offset">
          <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            Inicia Sesión
          </button>
          <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple>
            Regístrate
          </button>
        </div>
      </div>
    </div>
    <div class="swiper-slide" id="slide-3">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
          <h1>Bienvenido</h1>
          <h3>Lorem ipsum amet</h3>
        </div>
        <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-tablet mdl-cell--2-phone mdl-cell--3-offset mdl-cell--1-offset">
          <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple>
            Inicia Sesión
          </button>
          <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple>
            Regístrate
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</swiper>