<div id="profile" class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <mdl-card mdl-shadow="4" id="profile-banner">
      <mdl-card-title>
      </mdl-card-title>
      <mdl-card-supporting-text>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col">
            <img id="profile-img" src={{retailer.photo.url}} class="img-fluid z-depth-4" alt="profile image">
          </div>
          <div class="mdl-cell mdl-cell--10-col">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col">
                <h4>{{retailer.name}}</h4>
              </div>
              <div class="mdl-cell mdl-cell--4-col">
                <h4><i class="material-icons">contact_phone</i>
                  Número de celular</h4>
              </div>
              <div class="mdl-cell mdl-cell--4-col">
                <h4>Miembro desde</h4>
              </div>
              <div class="mdl-cell mdl-cell--4-col">
                <i class="material-icons">contact_mail</i>
                {{retailer.email}}
              </div>
              <div class="mdl-cell mdl-cell--4-col">
                {{retailer.phoneNumber}}
              </div>
              <div class="mdl-cell mdl-cell--4-col">
                AQUI DEBE IR LA FECHA
              </div>
            </div>
          </div>
        </div>
      </mdl-card-supporting-text>
      <mdl-card-menu>
        <button mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple><mdl-icon>more_vert</mdl-icon></button>
        <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-right">
           <mdl-menu-item mdl-ripple (click)="action()">Some Action</mdl-menu-item>
           <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider>Another Action</mdl-menu-item>
           <mdl-menu-item mdl-ripple disabled>Disabled Action</mdl-menu-item>
           <mdl-menu-item>Yet Another Action</mdl-menu-item>
        </mdl-menu>
      </mdl-card-menu>
    </mdl-card>
  </div>

<div class = "mdl-cell mdl-cell--6-col" id="cardComment">
<h3>Comentarios</h3>
  
  <div class ="mdl-grid">
     <pagination-controls (pageChange)="page = $event"
                          previousLabel= "Anterior"
                          nextLabel = "Siguiente"
     >
     </pagination-controls> 
  </div>
  <div class="mdl-card" *ngFor="let comment of retailer.comments | paginate: { itemsPerPage: 4, currentPage: page }">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{comment.title}}</h2>
    </div>
    <div class="mdl-card__suporting-text">
        {{comment.content}}
    </div>
    <rating [(ngModel)]="comment.calification" [readonly]="true"></rating>
  </div>

<!--  <table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th>
        Comentario
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let comment of retailer.comments">
      <td> {{comment.content}}</td>

    </tr>
  </tbody>
</table>-->

</div>
<div class = "mdl-cell mdl-cell--6-col">
 <mdl-card mdl-shadow="4" id="map-card">
    <mdl-card-title mdl-card-expand>
      <ng2-map id="map" center="{{retailer.latitude}} {{retailer.longitude}}" zoom="17" scrollwheel="false" >
        <marker position="{{retailer.latitude}} {{retailer.longitude}}" icon='http://maps.google.com/mapfiles/kml/pal2/icon10.png'></marker>
        <marker *ngFor="let coordinate of coordinates" 
          id="{{coordinate.id}}"
          (click)="onClickCoordinate(coordinate, $event)"
          position="{{coordinate.lat}} {{coordinate.lng}}" 
          icon='http://maps.google.com/mapfiles/ms/micons/truck.png'>  
        </marker>
        <info-window id="iw" content="">
          {{selectedCoordinate.id}}
        </info-window>
          
      </ng2-map>
      
    </mdl-card-title>
    <mdl-card-supporting-text>
      {{retailer.location}}
      {{selectedCoordinate.id}}
    </mdl-card-supporting-text>
    <mdl-card-menu>
    </mdl-card-menu>
  </mdl-card>
</div>


</div>