@import 'src/assets/sass/variables';

.section-title {
  margin-top: 1em;
}

mdl-textfield{
  width: 90%;
  margin-left: 5px;
}

.parallax-content{
  background-color: rgba(256,256,256,0.4);
  border-radius: 10px;
}