<div id="contact" class="container">
  	<div class="row">
    	<h1 class="h1-responsive section-title"><span class="indigo-text">|</span> Contactanos <span class="indigo-text">|</span></h1>
  	</div>

  	<div class="row">
  	<!-- Parte izquierda -->
    <div class="col-md-9">
      	<div class="box wow fadeInLeftBig" data-wow-duration="1.5s">
	      	<h3>Danos tus datos</h3>
			
			<form novalidate [formGroup] = "form" >

	      	<!-- Campo del nombre y apellido -->
	      	<div class="form-group">
		    	<div class="md-form">
		    		<i class="fa fa-user prefix"></i>
				    <input type="text" id="name" class="form-control" formControlName="name">
				    <label for="name" class="">Nombre y apellido</label>

				    <div *ngIf = "form.controls.name.errors && form.controls.name.touched">
						<div *ngIf = "form.controls.name.errors.required" class="alert alert-danger">
							El campo nombre y apellido es requerido
						</div>
						<div *ngIf = "form.controls.name.errors.minlength" class="alert alert-danger">
							El campo requiere minimo 3 caracteres
						</div>
					</div>
			 	</div>
		 	</div>

		 	<!-- Campo del correo -->
		 	<div class="form-group">
			 	<div class="md-form">
		    		<i class="fa fa-envelope prefix"></i>
			    	<input type="text" id="email" class="form-control" formControlName="email">
			    	<label for="email">Correo</label>

			    	<div *ngIf = "form.controls.email.errors && form.controls.email.touched">
						<div *ngIf = "form.controls.email.errors.required"  class="alert alert-danger">
							El campo correo es requerido
						</div>

						<div *ngIf=" form.controls.email.errors.pattern" class="alert alert-danger"> 
          					El correo no es valido
        				</div>
					</div>
				</div>
			</div>

			
			<!-- Campo del número de celular -->
			<div class="form-group">
				<div class="md-form">
		    		<i class="fa fa-mobile prefix"></i>
			    	<input type="number" id="number" class="form-control" formControlName="number">
			    	<label for="number">Número de celular</label>

			    	<div *ngIf = "form.controls.number.errors && form.controls.number.touched">
						<div *ngIf = "form.controls.number.errors.required" class="alert alert-danger">
							El campo número de celular es requerido
						</div>

						<div *ngIf = "form.controls.number.errors.sinEspacios" class="alert alert-danger">
							El nombre no debe contener espacios.
						</div>
					</div>
				</div>
			</div>

			<!-- Campo del mensaje -->
			<div class="form-group">
				<div class="md-form">
				    <i class="fa fa-pencil prefix"></i>
				    <textarea type="text" id="message" class="md-textarea" formControlName="message"></textarea>
				    <label for="message">Tu mensaje</label>

				    <div *ngIf = "form.controls.message.errors && form.controls.message.touched">
						<div *ngIf = "form.controls.message.errors.required" class="alert alert-danger">
							El campo del mensaje es requerido
						</div>		
						<div *ngIf = "form.controls.message.errors.maxlength" class="alert alert-danger">
							El campo requiere maximo 250 caracteres
						</div>
					</div>

				</div>
			</div>
	
			<!-- Boton de submit-->
			<button class="btn btn-primary" [disabled]= "!form.valid">Enviar</button>
			</form>

      	</div>
    </div>

    <!-- Parte derecha -->
    <div class="col-md-3">

    	<!-- Icono de contacto -->
    	<div class="wow fadeInRightBig" data-wow-duration="1.5s">
    		<img  class="img-responsive" id="imgContacto" src="src/assets/img/contact/contactar1.png">	
    	</div>
    </div>
  	</div>


</div>