<div class="mdl-grid">
  	<div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset">
    	<h2 class="text-center section-title"><span class="indigo-text">|</span> Contacto <span class="indigo-text">|</span></h2>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--8-col">
				<form novalidate [formGroup] = "form"> 
					<p>
						<i class="material-icons md-36 mdl-color-text--indigo">account_circle</i>
						<mdl-textfield
							label="Nombre y apellido"
							name="name"
							type="text"
							formControlName="name"
							floating-label
							pattern="[a-zA-Z]*"
							error-msg="Por favor ingresa un nombre válido">
						</mdl-textfield>
					</p>

					<div *ngIf = "form.controls.name.errors && form.controls.name.touched">
						<div *ngIf = "form.controls.name.errors.required" class="mdl-color-text--red">
							El campo nombre y apellido es requerido
						</div>
					</div>

					<p>
						<i class="material-icons md-36 mdl-color-text--indigo">email</i>
						<mdl-textfield
							label="Email"
							name="email"
							type="text"
							formControlName="email"
							floating-label
							pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$"
							error-msg="Por favor ingresa un email válido">
						</mdl-textfield>
					</p>
					<div *ngIf = "form.controls.email.errors && form.controls.email.touched">
						<div *ngIf = "form.controls.email.errors.required"  class="mdl-color-text--red">
							El campo correo es requerido
						</div>
					</div>
					<p>
						<i class="material-icons md-36 mdl-color-text--indigo">phone</i>
						<mdl-textfield
							type="text"
							label="Número de celular"
							formControlName="number"
							name="number"
							pattern="-?[0-9]*(\.[0-9]+)?"
							error-msg="Por favor ingresa un número de celular válido"
							floating-label>
						</mdl-textfield>
					</p>
					<div *ngIf = "form.controls.number.errors && form.controls.number.touched">
						<div *ngIf = "form.controls.number.errors.required" class="mdl-color-text--red">
							El campo número de celular es requerido
						</div>
					</div>
					<p>
						<i class="material-icons md-36 mdl-color-text--indigo">message</i>
						<mdl-textfield 
							label="Tu mensaje"
							formControlName="message"
							rows="2"
							maxrows="3"
							floating-label>
						</mdl-textfield>
					</p>
					<div *ngIf = "form.controls.message.errors && form.controls.message.touched">
						<div *ngIf = "form.controls.message.errors.required" class="mdl-color-text--red">
							El campo del mensaje es requerido
						</div>		
					</div>
				</form>
				<button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple [disabled]= "!form.valid">Enviar</button>
			</div>
			<div class="mdl-cell mdl-cell--4-col">
				<img src="src/assets/img/contact/contactar1.png">
			</div>
		</div>
	</div>
</div>