#card{
  margin-left: 100px;
  margin-top: 25px;
  width: 900px;
  height: auto;
}
#card-title{
  color: purple;
  height:: 100px;
  background: url('../../../../assets/img/products/background.png');

}
#image-upload{
  padding-top: 150px;

}
#icon-load-img{

  text-align: center;
  margin-top: 115px;
  margin-left: 122px;
  font-size: 50px;
}
.my-drop-zone {
  border: dotted 3px lightgray;
  width: 300px;
  height: 250px;

}
.nv-file-over {
  border: dotted 3px red;
} /* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
 }

 html, body { height: 100%; }
