

  <div id='card' class="mdl-card mdl-shadow--4dp">
    <div id='card-title' class="mdl-card__title mdl-color--light-blue mdl-color-text--white">
      <h2 class="mdl-card__title-text ">Nuevo Producto</h2>
    </div>

    <form action="#" #createProduct= "ngForm" (ngSubmit)= "onSubmit()">
    <div class="mdl-card__supporting-text " >
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
          <div id="image-upload">

          <image-upload
              [dropBoxMessage]="'Arrastra tu imagen aqui!'"
              (onFileUploadFinish)="imageUploaded($event)"
          ></image-upload>

          </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-cell--1-offset">

          <br>
          <br>
          <mdl-textfield type="text" label="Nombre" id="name1" name1="name1" #name1= "ngModel" type="text"

                  [(ngModel)]="name" floating-label [ngModelOptions]="{standalone: true}" autofocus required>
          </mdl-textfield>
          <br>
          <mdl-textfield  type="number" label="Precio"  id="price1" price1="price1" #price1="ngModel" min="0" step="0.00001"
                          [(ngModel)]="price" floating-label [ngModelOptions]="{standalone: true}" error-msg="Input is not a number!"  required>
          </mdl-textfield>
          <br>
          <mdl-textfield type="number" label="Peso" id="peso1" peso1="peso1" #peso1= "ngModel" min="0" step="0.00001"
                          [(ngModel)]="weight" floating-label [ngModelOptions]="{standalone: true}" error-msg="Input is not a number!"  required>
          </mdl-textfield>

          <br>
          <br>
          <ng2-select [placeholder]="'Selecciona la categoria'"
                      [options]="categories"
                      [(ngModel)]="category_select"
                      [ngModelOptions]="{standalone: true}"
                      >

          </ng2-select>
          <br>
          <br>
          <mdl-checkbox [mdl-ripple]="true" [(ngModel)]="disableSelectCategories" [ngModelOptions]="{standalone: true}">
                      Otra Categoria
          </mdl-checkbox>
          <br>
          <br>
          <mdl-textfield type="text" label="Nueva Categoria" id="cat" cat="cat" #cat= "ngModel" type="text"

                [disabled]="!newCategory()"  [(ngModel)]="category_select" floating-label [ngModelOptions]="{standalone: true}" >
          </mdl-textfield>
          <br>
          <br>
          <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple type="submit" [disabled]="!createProduct.valid"
                  >
              Crear
          </button>
        </div>
        </div>
      </div>
    </form>
</div>
