#card{
  margin-left: 100px;
  margin-top: 25px;
  width: 800px;
}
#card-title{
  color: purple;
  height:: 100px;
  background: url('../../../../assets/img/products/background.png');

}
mdl-textfield{
  width: 100%;
  color: #fff;
}
