<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4" *ngFor="let distributor of distributors">
      <div class="card">
        <div class="view overlay hm-white-slight">
          <!-- Descomentar y comentar la imagen de abajo cuando funcionen las urls de las imagenes -->
          <!-- <img src={{distributor.photo}} class="img-fluid" alt=""> -->
          <img src="https://static.pexels.com/photos/3348/dirty-horror-duck.jpg" class="img-fluid" alt="">
          <a href="#" (click)="onClick(distributor)">
            <div class="mask"></div>
          </a>
        </div>
        <div class="card-block">
          <h4 class="card-title">{{distributor.name}}</h4>
          <p class="card-text">{{distributor.email}} <br> {{distributor.phoneNumber}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

