<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-grid">
      <div class="form-group mdl-cell mdl-cell--4-col">
        <mdl-textfield #nameInput id="nameInput" type="text" placeholder="Nombre" [(ngModel)]="filtername" [ngModelOptions]="{standalone: true}"></mdl-textfield>
      </div>
      <div class="form-group mdl-cell mdl-cell--4-col">
        <md2-tags
          [md2-tags] = "categoryList"
          md2-tag-text="name"
          md2-tag-value="value"
          [(ngModel)]="filtercategory"
          placeholder="Añadir categoría">
        </md2-tags>
      </div>
      <div class="form-group mdl-cell mdl-cell--4-col">
        <nouislider [connect]="true" [min]="0" [max]="50" [step]="1" [(ngModel)]="filterprice" style="margin-top: 10px;"></nouislider>
        <p>{{filterprice[0]}} - {{filterprice[1]}}</p>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col" *ngFor="let item of dataItems
                |filteredOfferedProductsCategory : filtercategory
                |filterOfferedProductsPrice :filterprice ">
    <mdl-card mdl-shadow="4">
    <mdl-card-title [style.background-image]="getUrl(item.photo.url)">
      <h2 mdl-card-title-text>{{item.product.name}}</h2>
    </mdl-card-title>

    <mdl-card-supporting-text>
      <p class="card-text">Categoria : {{item.product.category}}  </p>
      <p class="card-text">precio : {{item.price | currency}}  </p>
      <p class="card-text">Distribuidor: {{item.distributor.name}}</p>
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <a routerLink="{{item.id}}"  mdl-button mdl-colored mdl-ripple>Ver producto</a>
      <a mdl-button-type="raised" mdl-button mdl-colored="accent" mdl-ripple (click)="addProduct(item)">Pedir</a>
    </mdl-card-actions>
    <mdl-card-menu>
      <button mdl-button mdl-button-type="icon" mdl-ripple>
        <mdl-icon>more_vert</mdl-icon>
      </button>
    </mdl-card-menu>
  </mdl-card>

  </div>
  
</div>