@import 'src/assets/sass/variables';

.navbar-brand {
  height: 2.5em;
  #logo {
    height: 100%;
  }
}

.mdl-navigation__link {
  color: #FFF!important;
  &.active{
    background-color: rgba(0,0,0,0.3);
  }
}

mdl-layout-drawer{
  border: 0px;
}

#profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
