<div *ngIf="location.path()!=''">
    <mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer>
      <mdl-layout-header class="mdl-color--indigo-700">
         <mdl-layout-header-row>
            <mdl-layout-spacer></mdl-layout-spacer>
                <img src="src/assets/img/duck.png" id="profile-pic">
                <a class="mdl-navigation__link logout" href="#" routerLink="/"><i class="material-icons md-36 md-light">exit_to_app</i></a>
         </mdl-layout-header-row>
      </mdl-layout-header>
      <mdl-layout-drawer class="mdl-color--grey">
         <mdl-layout-title><img src="src/logo.png"></mdl-layout-title>
         <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="#" routerLink="/distributors">Inicio</a>
            <a [class.active]="location.path()=='/distributors'" class="mdl-navigation__link" href="#" routerLink="/distributors">Distribuidores</a>
            <a [class.active]="location.path()=='/retailers'" class="mdl-navigation__link" href="#" routerLink="/retailers">Minoristas</a>
            <a [class.active]="location.path()=='/products'" class="mdl-navigation__link" href="#" routerLink="/products">Productos</a>
         </nav>
      </mdl-layout-drawer>
      <mdl-layout-content>
         <router-outlet></router-outlet>
      </mdl-layout-content>
   </mdl-layout>
</div>

<div *ngIf="location.path()==''">
    <router-outlet></router-outlet>
</div>
