mdl-card{
  margin: 0 auto;
}

mdl-card-title{
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
}

mdl-card-menu {
  color: #FFF;
}

mdl-textfield{
  width: 100%;
}
