<div class="container">
    <div class="app-header" mdl-shadow="2">
        <div class="nav-logo">
            <img src="src/assets/img/logo.png">
        </div>
        <div class="floating-right">
            <a *ngIf="userType=='RETAILER'" class="mdl-navigation__link icon-button" (click)="openCart()"><i class="material-icons md-48 md-light"  [mdl-badge]="cartProducts.length" mdl-badge-overlap>shopping_cart</i></a>
            <button mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple style="width: 60px; height:auto;"><img src="src/assets/img/duck.png" id="profile-pic"></button>
            <mdl-menu #m1="mdlMenu" mdl-menu-position="bottom-right">
                <mdl-menu-item mdl-ripple (click)="goToProfile()">Mi Perfil</mdl-menu-item>
                <mdl-menu-item mdl-ripple mdl-menu-item-full-bleed-divider (click)="goToOrders()">Mis Ordenes</mdl-menu-item>
                <mdl-menu-item mdl-ripple (click)="logout()">Cerrar sesión</mdl-menu-item>
            </mdl-menu>
        </div>
    </div>
    <div class="app-body mdl-grid">
        <div class="app-sidenav mdl-cell mdl-cell--2-col" mdl-shadow="4">
            <nav class="vertical">
                <ul>
                    <li>
                        <a class="mdl-navigation__link" routerLink="/app" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">
                            <i class="material-icons md-36">home</i>
                            <h4>Inicio</h4>
                        </a>
                    </li>
                    <li>
                        <a class="mdl-navigation__link" routerLink="products" routerLinkActive='active'>
                            <i class="material-icons md-36">shopping_basket</i>
                            <h4>Productos</h4>
                        </a>
                    </li>
                    <li>
                        <a class="mdl-navigation__link" routerLink="orders" routerLinkActive='active'>
                            <i class="material-icons md-36">receipt</i>
                            <h4>Ordenes</h4>
                        </a>
                    </li>
                    <li *ngIf="userType=='RETAILER'">
                        <a class="mdl-navigation__link" routerLink="distributors" routerLinkActive='active'>
                            <i class="material-icons md-36">account_circle</i>
                            <h4>Distribuidores</h4>
                        </a>
                    </li>
                    <li *ngIf="userType=='DISTRIBUTOR'">
                        <a class="mdl-navigation__link" routerLink="retailers" routerLinkActive='active'>
                            <i class="material-icons md-36">account_circle</i>
                            <h4>Minoristas</h4>
                        </a>
                    </li>
                    <li>
                        <a class="mdl-navigation__link" routerLink="routes" routerLinkActive='active'>
                            <i class="material-icons md-36">place</i>
                            <h4>Rutas</h4>
                        </a>
                    </li>
                    <li>
                        <a class="mdl-navigation__link" routerLink="statistics" routerLinkActive='active'>
                            <i class="material-icons md-36">show_chart</i>
                            <h4>Estadísticas</h4>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="app-content mdl-cell mdl-cell--10-col custom-scroll" mdl-shadow="4">
            <router-outlet></router-outlet>
            <div class="shopping-cart" *ngIf="shoppingCart">
                <div class="cart-products custom-scroll">
                    <div class="empty-cart" *ngIf="cartProducts.length == 0">
                        VACIO
                    </div>
                    <div class="individual-product" *ngFor="let product of cartProducts">
                        <img src={{product.photo.url}} class="product-photo">
                        <span class="name">{{product.name}} x {{product.quantity}} unidades</span>
                        <a class="icon-button delete-button" (click)="askDelete(product)"><i class="material-icons md-48 md-dark">delete</i></a>
                    </div>
                </div>
                <div class="cart-actions">
                    <button mdl-button (click)="closeCart()" mdl-button-type="icon"><mdl-icon>expand_more</mdl-icon></button>      
                    <button mdl-button (click)="askEmpty()" mdl-button-type="icon"><mdl-icon>remove_shopping_cart</mdl-icon></button>      
                    <button mdl-button (click)="askOrder()" mdl-button-type="icon"><mdl-icon>assignment_turned_in</mdl-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>
