<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-grid">
      <div class="form-group mdl-cell mdl-cell--4-col">
        <mdl-textfield type="text" label="Nombre" floating-label [(ngModel)]="filtername" [ngModelOptions]="{standalone: true}"></mdl-textfield>
      </div>
      <div class="form-group mdl-cell mdl-cell--4-col">
        <md2-tags
          [md2-tags] = "categoryList"
          md2-tag-text="name"
          md2-tag-value="value"
          [(ngModel)]="filtercategory"
          placeholder="Añadir categoría">
        </md2-tags>
      </div>
      <div class="form-group mdl-cell mdl-cell--4-col">
        <nouislider [connect]="true" [min]="0" [max]="500000" [step]="1000" [(ngModel)]="priceRange" [tooltips]="[true,true]"></nouislider>
        <!--<mdl-textfield type="text" label="Precio" floating-label [(ngModel)]="filterprice" [ngModelOptions]="{standalone: true}"></mdl-textfield>-->
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col" *ngFor="let item of dataItems | filterOfferedProductsName : filtername 
                |filteredOfferedProductsCategory : filtercategory 
                |filterOfferedProductsPrice :filterprice ">
    <mdl-card mdl-shadow="4">
    <mdl-card-title [style.background-image]="getUrl(item.product.photo.url)">
<!--        <img src="{{item.product.photo.url}}" class="md-card-image" alt="">-->

      <h2 mdl-card-title-text>{{item.product.name}}</h2>
    </mdl-card-title>

    <mdl-card-supporting-text>
      <p class="card-text">Categoria : {{item.product.category}}  </p>
      <p class="card-text">precio : {{item.price | currency}}  </p>
      <p class="card-text">Distribuidor: {{item.distributor.name}}</p>  
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <a href="/products/{{item.id}}"  mdl-button mdl-colored mdl-ripple>Ver producto</a>
      <a href="/products/{{item.id}}"  mdl-button-type="raised" mdl-button mdl-colored="accent" mdl-ripple>Pedir</a>
    </mdl-card-actions>
    <mdl-card-menu>
      <button mdl-button mdl-button-type="icon" mdl-ripple>
        <mdl-icon>more_vert</mdl-icon>
      </button>
    </mdl-card-menu>
  </mdl-card>
  </div>
</div>