<div class="mdl-grid">

	   <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--4-col">
	<img src="{{data.photo.url}}" alt="">

	<ul class='mdl-list'>
		  	<li class="mdl-list__item">
				    <span class="mdl-list__item-primary-content">
					<i class="material-icons mdl-list__item-avatar">person</i>
					<span>{{data.distributor.name}}</span>
    				</span>
					<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
			  </li>
			<li class="mdl-list__item">
				<span class="mdl-list__item-primary-content">
					<i class="material-icons">list</i>
					<span>Categoria: {{data.product.category}}</span>
    				</span>
			</li>
			<li class="mdl-list__item">
				<span class="mdl-list__item-primary-content">
					<i class="material-icons ">attach_money</i>
					<span>Precio: {{data.price | currency}}</span>
    				</span>

			</li>
			<li class="mdl-list__item">
				<span class="mdl-list__item-primary-content">
					<i class="material-icons">bookmark</i>
					<span>Peso: {{data.product.weight | number}}</span>
    				</span>

			</li>

	</ul>


	</div>
	
    <div class="mdl-layout-spacer"></div>

</div>

