<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h2 class="section-title text-center"><span class="mdl-color-text--indigo">|</span> Servicios <span class="mdl-color-text--indigo">|</span></h2>
  </div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
    <h5 class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!</h5>
  </div>
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--4 mdl-cell--2-offset-desktop">
    <div class="box">
      <div class="box-icon mdl-color--indigo">
        <i class="material-icons md-64">build</i>
      </div>
      <div class="info">
        <h4 class="text-center">Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo
          nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis
          dolor soluta!</p>
        <div class="mdl-cell mdl-cell--12-col text-center">
          <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple>Link</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--4">
    <div class="box">
      <div class="box-icon mdl-color--indigo">
        <i class="material-icons md-64">grade</i>
      </div>
      <div class="info">
        <h4 class="text-center">Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo
          nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis
          dolor soluta!</p>
        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
          <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple>Link</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--4">
    <div class="box">
      <div class="box-icon mdl-color--indigo">
        <i class="material-icons md-64">loyalty</i>
      </div>
      <div class="info">
        <h4 class="text-center">Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo
          nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis
          dolor soluta!</p>
        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
          <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple>Link</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--4 mdl-cell--2-offset-desktop">
    <div class="box">
      <div class="box-icon mdl-color--indigo">
        <i class="material-icons md-64">query_builder</i>
      </div>
      <div class="info">
        <h4 class="text-center">Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo
          nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis
          dolor soluta!</p>
        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
          <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple>Link</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--4">
    <div class="box">
      <div class="box-icon mdl-color--indigo">
        <i class="material-icons md-64">store</i>
      </div>
      <div class="info">
        <h4 class="text-center">Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo
          nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis
          dolor soluta!</p>
        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
          <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple>Link</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--4">
    <div class="box">
      <div class="box-icon mdl-color--indigo">
        <i class="material-icons md-64">face</i>
      </div>
      <div class="info">
        <h4 class="text-center">Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo
          nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis
          dolor soluta!</p>
        <div class="mdl-cell mdl-cell--12-col" style="text-align: center;">
          <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple>Link</button>
        </div>
      </div>
    </div>
  </div>
</div>